@model BaitapCodeFirst.Models.Student

<h2>Thêm sinh viên</h2>

<form method="post">
    <div>
        <label>Tên:</label>
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>

    <div>
        <label>Tuổi:</label>
        <input asp-for="Age" />
        <span asp-validation-for="Age"></span>
    </div>

    <div>
        <label>Course:</label>
        <select asp-for="CourseId">
            <option value="">-- Chọn Course --</option>

            @if (ViewBag.Courses != null)
            {
                foreach (var c in ViewBag.Courses)
                {
                    <option value="@c.Id">@c.CourseName</option>
                }
            }
        </select>
    </div>

    <button type="submit">Lưu</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}